.restaurants__title {
  font-family: 'Oswald', sans-serif;
  padding-top: 30px;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  margin-top: 30px;
}

.custom__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.section__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 0 20px;
}

.item__article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant__introduction {
  margin-top: 15px;
  font-size: 20px;
}

.custom__card {
  background-color: rgb(193, 192, 209);
}

.card__title {
  font-family: 'Oswald', sans-serif;
}

.foods__title {
  font-family: 'Oswald', sans-serif;
}

.custom__image {
  width: 600px;
}

.article_icon_image {
  max-width: 500px;
  height: 350px;
}

.custom__card__image {
  min-height: 256px;
  max-height: 256px;
}

.card__icon {
  width: 400px;
}

.cards__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.custom__card__container {
  max-width: 1100px;
  display: flex;
  gap: 20px;
  padding: 20px;
}

@media screen and (max-width: 1000px) {
  .custom__card__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
  }
}

@media screen and (max-width: 635px) {
  .custom__image {
    max-width: 350px;
  }
  .article_icon_image {
    max-width: 350px;
  }

  .card__icon {
    width: 300px;
  }
}

.video {
  padding: 20px;
  width: 600px;
}

@media screen and (max-width: 635px) {
  .video {
    max-width: 350px;
  }
}
